*,
:after,
:before {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.page_body {
    background-image: url(../images/backgroundimage.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    font-family: sans-serif;
}



/* -------- Nav bar ----------*/

/*--- Header ---*/

.logo {
    padding-top: 1vh;
}

/*--- Navigation ---*/

nav {
    display: flex;
    justify-content: space-around;
    align-content: center;
    min-height: 8vh;
    background-color: #7f8d83;
    font-family: 'Poppins', sans-serif;

}

.nav-links {
    display: flex;
    width: 50%;
    justify-content: space-around;
}

.nav-links li {
    list-style: none;
    padding-top: 2.5vh;
}

.nav-links a{
    color: rgb(226, 226, 226);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
}


/*--- Burger Menu ---*/

.burger {
    display: none;
    cursor: pointer;
    margin-top: 2.5vh;
    margin-right: 5vh;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.3s ease;
}

/*--- Burger Animation ---*/

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px):
    }
}














/*----- welcome section ----- */
.welcome_section {
    display: flex;
    flex-direction: column;
}

.web_text {
    display: none;

}

.mobile_header {
    display: block;
    text-align: center;
}

.web_header {
    display: none;
}

.welcome_image {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.mobile_text {
    text-align: center;
    margin-bottom: 15px;
    line-height: 30px;
    margin-left: 35px;
    margin-right: 35px;
    font-size: 1.2rem;
    display: flex;
}

.order_link {
    text-decoration: none;
}

.order_cta {
    padding: 17.5px;
    margin-right: 87.5px;
    margin-left: 87.5px;
    margin-bottom: 25px;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #7f8d83;
    border-radius: 10px;
    font-size: 1.3rem;
    font-weight: bold;
}

/*----- sortiment section ---- */

.sortiment_section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: pink;
}


.sortiment_image {
    display: flex;
    height: 250px;
    justify-content: center;
    margin-bottom: 15px;
}

.sortiment_header {
    text-align: center;
    padding: 15px;
    background-color: #7f8d83;
    margin-bottom: 15px;
    margin-right: 87.5px;
    margin-left: 87.5px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

.web_image {
    display: none;
}
/*---- footer ---- */

.page_footer {
    background-color: #7f8d83;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 20rem;

}

.footer_address {
    text-align: center;
    color: white;
    padding-top: 10px;
    font-size: 1.5rem;
    margin: 20px;
}

.footer_card {
    align-items: center;
}

.some_icon {
    width: 55px;
    margin: 20px;
    align-items: center;
}


/*----- media query ---- */

@media only screen and (min-width:900px) {

    .web_image {
        display: flex;

    }
    .welcome_image {
        width: 50%;
    }

    .welcome_section {
        position: relative;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        flex-direction: row-reverse;
    }

    .order_cta {
        margin: 25px;
        font-size: 1.7rem;
        margin-top: 50px;
    }

    .web_text {
        display: flex;
        text-align: center;
        margin: 25px;
        line-height: 40px;
        font-size: 1.4rem;
    }

    .web_header {
        display: block;
        text-align: center;

    }

    .mobile_text {
        display: none;
    }

    .mobile_header {
        display: none;
    }

    .some_icon {
        width: 75px;
    }

    .page_footer {
        height: 15rem;
    }

}

/*------- Nav bar ----*/
@media screen and (max-width:900px){
     body {
        overflow-x: hidden;
    }

    .nav-links {
        position: fixed;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #7f8d83;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
    }

    .nav-active {
        transform: translateX(0%)
    }
}
